@media (max-width: 768px) {
    .filter-and-sort {
        display: none;
    }

    .filter-and-sort-mobile {
        display: flex;
    }
}

.image-container {
    max-width: 300px;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 300px; 
    max-width: 100%;
    margin: 10px;
}

.image-container {
    width: 100%;
    padding-top: 100%; 
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.category-header {
    text-align: center;
    margin-bottom: 20px;
}

.product-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}



.filter-section {
    flex: 1;
    margin-right: 20px;
}

.sorting {
    margin-bottom: 20px;
    text-align: center;
}


.sorting h3 {
    margin-right: 10px;
}

.product-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-counter {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #888;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.product-card p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.product-card .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.product-card .discounted-price {
    font-size: 1rem;
    color: #888;

}

.product-card .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.product-card .rating span {
    color: #f39c12;
    margin-right: 2px;
}


.product-card button {
    background-color: #833ea4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.product-card button:hover {
    background-color: #66148d;
}

.category-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.category-description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #888;
}

.filters {
    position: absolute;
    left: 10px;
    top: 230px;
    width: 130px;

}

.filter-section {
    margin-bottom: 20px;
}

.sort {
    margin-bottom: 10px;

}

.sorting select {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #833ea4;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.sorting select:hover {
    border-color: #66148d;
}



.sorting select:focus {
    outline: none;
    border-color: #66148d;
    box-shadow: 0 0 0 2px rgba(200, 159, 230, 0.3);
}


.price-range-label {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.success-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #43a047;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.rating-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.rating {
    margin-bottom: 5px;
}

.load-more-button {
    align-self: center;
    background-color: #833ea4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 10px;
}

.load-more-button:hover {
    background-color: #66148d;
}